* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none; }

html {
  scroll-behavior: smooth; }

body {
  min-width: 320px;
  font-family: "Open Sans", "sans-serif";
  font-style: normal; }

.header {
  position: fixed;
  top: 0px;
  z-index: 5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-items: center;
  width: 100vw;
  height: 70px;
  padding: 1rem 2rem;
  background-color: #FFFFFF;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.29);
  display: flex; }
  .header .logo p {
    width: 206px;
    height: 2.3125rem;
    line-height: 1em;
    font-weight: 300;
    font-size: 2rem;
    line-height: 2.3125rem;
    color: #08A6E4; }
  .header .navInput {
    display: none; }
  .header .navLabel {
    cursor: pointer;
    width: 50px;
    height: 30px;
    position: relative;
    align-self: center;
    padding: 0 1rem 1rem 0; }
    .header .navLabel #span1, .header .navLabel #span2, .header .navLabel #span3 {
      position: absolute;
      content: '';
      background-color: #08A6E4;
      width: 30px;
      height: 3px;
      border-radius: 3px;
      transition: all 400ms ease; }
    .header .navLabel #span2 {
      top: 11px; }
    .header .navLabel #span3 {
      top: 22px; }
  .header .nav-bar {
    position: fixed;
    top: 70px;
    bottom: 80%;
    left: 0;
    z-index: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    clip-path: circle(0 at center);
    transition: ease-in-out 1s; }
    .header .nav-bar .nav-bar-ul {
      background-color: #FFFFFF;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.29);
      border: 1.5px solid #08A6E4; }
      .header .nav-bar .nav-bar-ul li {
        width: 200px;
        padding: 1rem 0;
        transition: ease 1s; }
        .header .nav-bar .nav-bar-ul li .nav-item {
          padding: 2rem 0 0 2rem;
          width: 60px;
          height: 15px;
          font-weight: 700;
          font-size: 11px;
          line-height: 15px;
          text-align: center;
          letter-spacing: 3.28px;
          color: #95989A; }
        .header .nav-bar .nav-bar-ul li .nav-item:hover {
          color: #000000; }
  .header .navInput:checked + .nav-bar-container .nav-bar {
    clip-path: circle(100% at center); }
  .header .navInput:checked + .nav-bar-container .navLabel #span1 {
    transform: rotate(140deg);
    top: 10px; }
  .header .navInput:checked + .nav-bar-container .navLabel #span2 {
    opacity: 0; }
  .header .navInput:checked + .nav-bar-container .navLabel #span3 {
    transform: rotate(-140deg);
    top: 10px; }

#why-us .why-us_fc {
  padding-top: 100px; }
  #why-us .why-us_fc .why-us_fc_title {
    font-family: "Raleway", "sans-serif";
    text-align: center;
    padding: 1rem;
    line-height: 2.5625rem;
    font-size: 2.1875rem;
    font-weight: 400;
    color: #000000; }
  #why-us .why-us_fc .why-us_fc_p {
    padding: 1rem 4.5rem;
    font-family: "Open Sans", "sans-serif";
    font-style: normal;
    text-align: center;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.4375rem; }
  #why-us .why-us_fc .why-us_fc_button {
    margin: 1rem;
    margin-left: 50%;
    transform: translateX(-50%);
    width: 310px;
    height: 60px;
    background: #08A6E4;
    box-shadow: 5px 10px 14px rgba(7, 172, 230, 0.29);
    border-radius: 2.5rem;
    color: #FFFFFF;
    font-family: "Raleway", "sans-serif";
    font-style: normal;
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.375rem;
    text-align: center;
    border: none; }
  #why-us .why-us_fc .why-us_fc_button {
    background: #08A6E4; }
  #why-us .why-us_fc .why-us_fc_button:hover {
    background: #078fc5; }
  #why-us .why-us_fc .why-us_fc_img-container {
    overflow: hidden; }
    #why-us .why-us_fc .why-us_fc_img-container .why-us_img {
      height: 300px;
      object-fit: fill;
      margin-left: 50%;
      transform: translateX(-50%); }

#why-us .why-us_sc {
  display: flex;
  flex-direction: column;
  align-items: center; }
  #why-us .why-us_sc .why-us_sc_title {
    font-family: "Raleway", "sans-serif";
    text-align: center;
    font-style: normal;
    font-weight: 300;
    font-size: 1.875rem;
    line-height: 2.1875rem;
    margin: 1em 1em 0 1em;
    padding: 1.25rem 2.25rem 0 2.25rem; }
  #why-us .why-us_sc .why-us_sc_reasons, #why-us .why-us_sc .why-us_sc_reasons .why-us_sc_reasons_1, #why-us .why-us_sc .why-us_sc_reasons .why-us_sc_reasons_2, #why-us .why-us_sc .why-us_sc_reasons .why-us_sc_reasons_3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem; }
    #why-us .why-us_sc .why-us_sc_reasons .why-us_sc_reasons_1 {
      gap: 1rem; }
      #why-us .why-us_sc .why-us_sc_reasons .why-us_sc_reasons_1 .why-us_sc_reasons_img {
        width: 62.71px;
        height: 62.71px;
        border-radius: 50%;
        position: relative;
        background-color: #FB3B64; }
        #why-us .why-us_sc .why-us_sc_reasons .why-us_sc_reasons_1 .why-us_sc_reasons_img img {
          position: absolute;
          width: 2.75rem;
          height: 3.25rem;
          left: 2rem;
          top: 3px; }
      #why-us .why-us_sc .why-us_sc_reasons .why-us_sc_reasons_1 p {
        font-weight: 800;
        font-size: 1.25rem;
        line-height: 1.5rem;
        text-align: center;
        letter-spacing: 5.96px;
        color: #000000; }
      #why-us .why-us_sc .why-us_sc_reasons .why-us_sc_reasons_1 h3 {
        width: 95px;
        height: 1.25rem;
        font-weight: 400;
        font-size: 1.0625rem;
        line-height: 1.25rem;
        text-align: center;
        color: #A5A5A5; }
    #why-us .why-us_sc .why-us_sc_reasons .why-us_sc_reasons_2 {
      gap: 1rem; }
      #why-us .why-us_sc .why-us_sc_reasons .why-us_sc_reasons_2 .why-us_sc_reasons_img {
        width: 62.71px;
        height: 62.71px;
        border-radius: 50%;
        position: relative;
        background-color: #07ACE6; }
        #why-us .why-us_sc .why-us_sc_reasons .why-us_sc_reasons_2 .why-us_sc_reasons_img img {
          position: absolute;
          width: 2.75rem;
          height: 3.25rem;
          left: 2rem;
          top: 3px;
          width: 61px;
          height: 33px;
          left: 1.5rem;
          top: 16px; }
      #why-us .why-us_sc .why-us_sc_reasons .why-us_sc_reasons_2 p {
        font-weight: 800;
        font-size: 1.25rem;
        line-height: 1.5rem;
        text-align: center;
        letter-spacing: 5.96px;
        color: #000000; }
      #why-us .why-us_sc .why-us_sc_reasons .why-us_sc_reasons_2 h3 {
        width: 95px;
        height: 1.25rem;
        font-weight: 400;
        font-size: 1.0625rem;
        line-height: 1.25rem;
        text-align: center;
        color: #A5A5A5; }
    #why-us .why-us_sc .why-us_sc_reasons .why-us_sc_reasons_3 {
      gap: 1rem; }
      #why-us .why-us_sc .why-us_sc_reasons .why-us_sc_reasons_3 .why-us_sc_reasons_img {
        width: 62.71px;
        height: 62.71px;
        border-radius: 50%;
        position: relative;
        background-color: #55DFB4; }
        #why-us .why-us_sc .why-us_sc_reasons .why-us_sc_reasons_3 .why-us_sc_reasons_img img {
          position: absolute;
          width: 2.75rem;
          height: 3.25rem;
          left: 2rem;
          top: 3px; }
      #why-us .why-us_sc .why-us_sc_reasons .why-us_sc_reasons_3 p {
        font-weight: 800;
        font-size: 1.25rem;
        line-height: 1.5rem;
        text-align: center;
        letter-spacing: 5.96px;
        color: #000000; }
      #why-us .why-us_sc .why-us_sc_reasons .why-us_sc_reasons_3 h3 {
        width: 95px;
        height: 1.25rem;
        font-weight: 400;
        font-size: 1.0625rem;
        line-height: 1.25rem;
        text-align: center;
        color: #A5A5A5; }

#benefits {
  padding: 2.5rem 1.75rem;
  background: #F7F7F7; }
  #benefits .benefits_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-items: center; }
    #benefits .benefits_container .benefits_container_benefit {
      display: flex;
      flex-direction: column;
      align-items: center;
      align-items: center;
      padding: 1rem;
      background: #FFFFFF;
      border: 1px solid #E8E9ED;
      border-radius: 5px;
      margin: 2rem 0;
      width: 314px;
      height: 370px; }
      #benefits .benefits_container .benefits_container_benefit .benetis_line {
        display: none; }
      #benefits .benefits_container .benefits_container_benefit .benefits_container_benefit_img {
        position: relative; }
        #benefits .benefits_container .benefits_container_benefit .benefits_container_benefit_img img {
          position: relative;
          margin: 1rem 0;
          z-index: 2; }
        #benefits .benefits_container .benefits_container_benefit .benefits_container_benefit_img .benefits_container_benefit_circle {
          position: absolute;
          border-radius: 41px;
          transform: rotate(-45deg);
          width: 90.12px;
          height: 90.12px;
          top: 0px;
          left: 110px;
          background-color: #FB3B64; }
      #benefits .benefits_container .benefits_container_benefit h2 {
        display: flex;
        justify-content: left;
        align-items: center;
        padding: .5rem 0;
        width: 218px;
        height: 70px;
        font-weight: 400;
        font-size: 1.875rem;
        line-height: 2.1875rem; }
      #benefits .benefits_container .benefits_container_benefit p {
        font: "Open Sans", "sans-serif";
        padding: 0 0 1.5rem 0;
        margin: 1rem 0 2.5rem 0;
        width: 272px;
        height: 77px;
        font-weight: 400;
        font-size: 1rem;
        line-height: 1.375rem;
        color: #000000; }
      #benefits .benefits_container .benefits_container_benefit .blue-circle .benefits_container_benefit_circle {
        position: absolute;
        border-radius: 50%;
        width: 131.88px;
        height: 131.7px;
        top: 3px;
        left: 10px;
        background-color: #07ACE6; }
  #benefits .benefits_container_third {
    width: 314px;
    height: 298px;
    padding: 1rem 0 1rem 0;
    margin: 2rem 0 0 0;
    background: #FFFFFF;
    border: 1px solid #E8E9ED;
    border-radius: 5px; }
    #benefits .benefits_container_third .benefits_container_benefit_third_h2-p {
      padding: 1rem 1rem 0 1rem; }
      #benefits .benefits_container_third .benefits_container_benefit_third_h2-p h2 {
        display: flex;
        justify-content: left;
        align-items: center;
        margin: 1rem 0;
        padding: .5rem 0;
        width: 218px;
        height: 70px;
        font-weight: 400;
        font-size: 1.875rem;
        line-height: 2.1875rem; }
      #benefits .benefits_container_third .benefits_container_benefit_third_h2-p p {
        font: "Open Sans", "sans-serif";
        padding: 1rem 0;
        margin: 2rem 0;
        width: 272px;
        height: 77px;
        font-weight: 400;
        font-size: 1rem;
        line-height: 1.375rem;
        color: #000000; }
  #benefits .benefits_container_third_trumpet {
    align-items: center;
    padding: 0 0 1rem 0;
    background: #55DFB4;
    border: 1px solid #E8E9ED;
    border-radius: 5px;
    margin: 0 0 2rem 0;
    width: 314px;
    height: 195px;
    position: relative; }
    #benefits .benefits_container_third_trumpet .img {
      width: 100%;
      position: absolute;
      bottom: 6px;
      left: 0%;
      margin-top: 10%; }

.icon {
  width: 11px;
  height: 11px; }

#pricing {
  margin-top: 2rem; }
  #pricing .pricing-title {
    text-align: center;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px; }
  #pricing .pricing-container-title {
    display: flex;
    flex-direction: column;
    align-items: center; }
    #pricing .pricing-container-title p {
      width: 74px;
      height: 0.875rem;
      font-weight: 700;
      font-size: 0.75rem;
      line-height: 0.875rem;
      text-align: center; }
  #pricing .pricing-li {
    display: flex;
    justify-content: flex-start;
    gap: 1rem; }
  #pricing .pricing-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-items: center; }
    #pricing .pricing-container .basic {
      display: flex;
      justify-content: space-between;
      margin: 2rem;
      padding: 2rem 1rem;
      align-items: center;
      border: 1px solid #FB3B64;
      border-radius: 18px;
      width: 293px;
      height: 251px;
      position: relative;
      transition: 0.3s; }
      #pricing .pricing-container .basic .pricing-detail ul li {
        padding: .6rem 0; }
      #pricing .pricing-container .basic .basic-p {
        width: 59px;
        height: 64px;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 300;
        font-size: 2.875rem;
        line-height: 64px;
        color: #FB3B64;
        text-align: center; }
      #pricing .pricing-container .basic .pricing-btn {
        width: 150px;
        height: 50px;
        border-radius: 23px;
        color: #FFFFFF;
        border: none;
        background-color: #FB3B64;
        position: absolute;
        left: 25%;
        top: 92%; }
        #pricing .pricing-container .basic .pricing-btn pricin-btn:hover {
          background-color: #FB3B64; }
      #pricing .pricing-container .basic .pricing-btn:hover {
        width: 150px;
        height: 50px;
        border-radius: 23px;
        color: #FFFFFF;
        border: none;
        background-color: #DC4716;
        position: absolute;
        left: 25%;
        top: 92%; }
        #pricing .pricing-container .basic .pricing-btn:hover pricin-btn:hover {
          background-color: #DC4716; }
    #pricing .pricing-container .basic:hover, #pricing .pricing-container .premium:hover, #pricing .pricing-container .professional:hover {
      width: 339px;
      height: 277px;
      box-shadow: 5px 10px 27px #FB3B64; }
      #pricing .pricing-container .basic:hover .pricing-btn, #pricing .pricing-container .premium:hover .pricing-btn, #pricing .pricing-container .professional:hover .pricing-btn {
        width: 180px;
        height: 55px; }
    #pricing .pricing-container .professional {
      display: flex;
      justify-content: space-between;
      margin: 2rem;
      padding: 2rem 1rem;
      align-items: center;
      border: 1px solid rgba(7, 172, 230, 0.29);
      border-radius: 18px;
      width: 293px;
      height: 251px;
      position: relative;
      transition: 0.3s; }
      #pricing .pricing-container .professional .pricing-detail ul li {
        padding: .6rem 0; }
      #pricing .pricing-container .professional .professional-p {
        width: 59px;
        height: 64px;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 300;
        font-size: 2.875rem;
        line-height: 64px;
        color: rgba(7, 172, 230, 0.29);
        text-align: center; }
      #pricing .pricing-container .professional .pricing-btn {
        width: 150px;
        height: 50px;
        border-radius: 23px;
        color: #FFFFFF;
        border: none;
        background-color: #07ACE6;
        position: absolute;
        left: 25%;
        top: 92%; }
        #pricing .pricing-container .professional .pricing-btn pricin-btn:hover {
          background-color: #07ACE6; }
      #pricing .pricing-container .professional .pricing-btn:hover {
        width: 150px;
        height: 50px;
        border-radius: 23px;
        color: #FFFFFF;
        border: none;
        background-color: #078fc5;
        position: absolute;
        left: 25%;
        top: 92%;
        width: 180px;
        height: 55px; }
        #pricing .pricing-container .professional .pricing-btn:hover pricin-btn:hover {
          background-color: #078fc5; }
    #pricing .pricing-container .professional:hover {
      width: 339px;
      height: 277px;
      box-shadow: 5px 10px 27px #078fc5; }
    #pricing .pricing-container .premium {
      display: flex;
      justify-content: space-between;
      margin: 2rem;
      padding: 2rem 1rem;
      align-items: center;
      border: 1px solid #55DFB4;
      border-radius: 18px;
      width: 293px;
      height: 251px;
      position: relative;
      transition: 0.3s; }
      #pricing .pricing-container .premium .pricing-detail ul li {
        padding: .6rem 0; }
      #pricing .pricing-container .premium .premium-p {
        width: 59px;
        height: 64px;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 300;
        font-size: 2.875rem;
        line-height: 64px;
        color: #55DFB4;
        text-align: center;
        text-align: center; }
      #pricing .pricing-container .premium .pricing-btn {
        width: 150px;
        height: 50px;
        border-radius: 23px;
        color: #FFFFFF;
        border: none;
        background-color: #55DFB4;
        position: absolute;
        left: 25%;
        top: 92%; }
        #pricing .pricing-container .premium .pricing-btn pricin-btn:hover {
          background-color: #55DFB4; }
      #pricing .pricing-container .premium .pricing-btn:hover {
        width: 150px;
        height: 50px;
        border-radius: 23px;
        color: #FFFFFF;
        border: none;
        background-color: #29d69f;
        position: absolute;
        left: 25%;
        top: 92%;
        width: 180px;
        height: 55px; }
        #pricing .pricing-container .premium .pricing-btn:hover pricin-btn:hover {
          background-color: #29d69f; }
    #pricing .pricing-container .premium:hover {
      width: 339px;
      height: 277px;
      box-shadow: 5px 10px 27px #29d69f; }

#contact {
  padding: 1rem 2rem;
  margin: 4rem 0; }
  #contact .contact-container h2 {
    font-weight: 400;
    font-size: 40px;
    line-height: 47px; }
  #contact .contact-container p {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px; }
  #contact .contact-info {
    margin: 2rem 0; }
    #contact .contact-info div {
      padding: 1rem 0; }
      #contact .contact-info div a {
        padding-left: 5px;
        color: #A5A5A5; }
  #contact .contact-form {
    display: flex;
    flex-direction: column;
    align-items: center; }
    #contact .contact-form .label-title {
      color: #08A6E4;
      padding: 2rem 0;
      font-weight: 600;
      font-size: 0.6875rem;
      line-height: 0.9375rem;
      letter-spacing: 3.28px; }
    #contact .contact-form input {
      margin: 1rem 0;
      padding: 1em;
      width: 100%;
      border: none;
      border-bottom: 1px solid #08A6E4; }
    #contact .contact-form div {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1rem 0; }
    #contact .contact-form form .contact_form_checkbox {
      align-self: flex-start;
      padding: 0 1em; }
    #contact .contact-form form .btn-submit-container {
      justify-content: flex-end; }
      #contact .contact-form form .btn-submit-container .btn-submit {
        position: center;
        width: 226px;
        height: 57px;
        background: #08A6E4;
        box-shadow: 5px 10px 14px rgba(7, 172, 230, 0.29);
        border-radius: 35px;
        color: #FFFFFF;
        border: none;
        justify-content: flex-end; }
      #contact .contact-form form .btn-submit-container .btn-submit:hover {
        background: #078fc5; }

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  box-shadow: 0px -5px 40px rgba(0, 0, 0, 0.2); }
  .footer .logo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-items: flex-start; }
  .footer .social-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1em; }

.professional-p {
  width: 59px;
  height: 64px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  font-size: 2.875rem;
  line-height: 64px;
  color: rgba(7, 172, 230, 0.29);
  text-align: center; }

@media screen and (min-width: 1000px) {
  .header {
    display: flex;
    justify-content: space-between; }
    .header .x-menu {
      display: none; }
    .header .burguer-menu {
      display: none; }
    .header .navLabel, .header .navInput {
      display: none; }
    .header .nav-bar {
      position: unset;
      clip-path: circle(100% at center); }
      .header .nav-bar .nav-bar-ul {
        display: flex;
        justify-content: end;
        border: none;
        box-shadow: none; }
        .header .nav-bar .nav-bar-ul .nav-item {
          font-weight: 700;
          font-size: 0.9rem;
          line-height: 0.9375rem;
          letter-spacing: 3.28px;
          color: #A5A5A5;
          margin: 0 1rem;
          --clippy: polygon(0 0, 0 0, 0 100%, 0% 100%); }
        .header .nav-bar .nav-bar-ul .nav-item::after {
          content: "";
          display: block;
          background-color: #08A6E4;
          width: 160px;
          height: 4px;
          position: fixed;
          top: 66px;
          clip-path: var(--clippy);
          transition: clip-path .3s; }
        .header .nav-bar .nav-bar-ul .nav-item:hover {
          --clippy: polygon(0 0, 100% 0, 100% 100%, 0 100%); }
  #why-us {
    padding-top: 2rem; }
    #why-us .why-us_fc .why-us_fc_img-container {
      display: flex;
      align-self: center; }
      #why-us .why-us_fc .why-us_fc_img-container .why-us_img {
        height: 100%;
        object-fit: contain;
        width: 100%; }
    #why-us .why-us_fc .why-us_fc_img-container {
      display: flex;
      align-self: center; }
      #why-us .why-us_fc .why-us_fc_img-container .why-us_img {
        object-fit: contain;
        width: 100%; }
    #why-us .why-us_sc {
      padding-bottom: 5%; }
      #why-us .why-us_sc .why-us_sc_reasons, #why-us .why-us_sc .why-us_sc_reasons .why-us_sc_reasons_1, #why-us .why-us_sc .why-us_sc_reasons .why-us_sc_reasons_2, #why-us .why-us_sc .why-us_sc_reasons .why-us_sc_reasons_3 {
        justify-content: center;
        width: 60%;
        flex-direction: row; }
        #why-us .why-us_sc .why-us_sc_reasons .why-us_sc_reasons_1, #why-us .why-us_sc .why-us_sc_reasons .why-us_sc_reasons_2, #why-us .why-us_sc .why-us_sc_reasons .why-us_sc_reasons_3 {
          flex-direction: column; }
  #benefits {
    display: flex; }
    #benefits .benefits_container {
      display: flex;
      width: 100%; }
      #benefits .benefits_container .responsive_reverse {
        display: flex;
        flex-direction: row-reverse; }
        #benefits .benefits_container .responsive_reverse .benefits_line {
          border-top: 4px solid #FB3B64;
          width: 80%; }
      #benefits .benefits_container .responsive {
        display: flex;
        flex-direction: row; }
        #benefits .benefits_container .responsive .benefits_line {
          border-top: 4px solid #07ACE6;
          width: 80%; }
      #benefits .benefits_container .benefits_container_benefit {
        width: 800px;
        justify-content: space-around; }
      #benefits .benefits_container .benefits_container_third_responsive {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        gap: 2rem; }
        #benefits .benefits_container .benefits_container_third_responsive .benefits_container_third {
          height: 370px;
          width: 450px;
          padding: 2rem 0 0 2rem; }
          #benefits .benefits_container .benefits_container_third_responsive .benefits_container_third .benefits_line {
            border-top: 4px solid #55DFB4;
            width: 60%; }
          #benefits .benefits_container .benefits_container_third_responsive .benefits_container_third .benefits_container_benefit_third_h2-p h2 {
            width: 300px; }
          #benefits .benefits_container .benefits_container_third_responsive .benefits_container_third .benefits_container_benefit_third_h2-p p {
            width: 330px; }
        #benefits .benefits_container .benefits_container_third_responsive .benefits_container_third_trumpet {
          height: 370px;
          width: 320px;
          margin: 0; }
          #benefits .benefits_container .benefits_container_third_responsive .benefits_container_third_trumpet .trumpet_img {
            padding-top: 110px; }
  #pricing {
    margin: 4rem 0; }
  .pricing-container {
    display: flex;
    justify-content: center;
    padding-bottom: 5rem; }
  .basic, .professional, .premium {
    flex-direction: column;
    height: 100% !important; }
  .pricing-container {
    flex-direction: row !important; }
  .pricing-detail {
    padding: 2rem 0;
    display: flex;
    align-items: center; }
  .pricing-li {
    justify-content: center; }
  .pricing-btn-basic {
    top: 92%; }
    .pricing-btn-basic .pricing-btn-basic {
      width: 120%;
      height: 120%; }
  #contact {
    display: flex;
    justify-content: center;
    align-self: center;
    gap: 5rem; }
    #contact .contact-container h2 {
      margin-bottom: 1rem; }
    #contact .contact-info {
      display: flex;
      flex-direction: row;
      gap: 1rem; }
    #contact .contact-form {
      max-width: 500px; }
  .footer {
    display: flex;
    justify-content: space-around; } }
